.footer{
  width:100%;
  background:#1f2430;
  color:#c9ced8;
  padding-top:70px;
}

.footer-container{
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:2fr 1fr 1fr 1fr;
  gap:80px;
  padding:0 40px;
}

/* LOGO */
.footer-logo{
  font-size:30px;
  font-weight:700;
  background: linear-gradient(95deg,#7C6BFF,#FF6A6A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom:18px;
}

.footer-brand p{
  line-height:1.7;
  font-size:16px;
  color:#b4bac6;
}

/* COLUMN TITLES */

.footer-col h4{
  font-size:14px;
  letter-spacing:1px;
  color:#9aa1ad;
  margin-bottom:18px;
}

/* LINKS */

.footer-col ul{
  list-style:none;
  padding:0;
}

.footer-col li{
  margin-bottom:12px;
  font-size:16px;
  color:#d3d7df;
  cursor:pointer;
}

.footer-col li:hover{
  color:white;
}

/* BOTTOM */

.footer-bottom{
  border-top:1px solid #343a46;
  text-align:center;
  padding:25px 0;
  margin-top:50px;
  font-size:14px;
  color:#9aa1ad;
}