.landing-main {
  height: calc(100vh - 130px);
  background: linear-gradient(135deg, #203a43, #2c5364);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.landing-main h1 {
  font-size: 48px;
  margin-bottom: 15px;
}
